# Data Types and Structures (Module - 3)

1) What are data structures, and why are they important?

-> Data Structure are specialized form of arranging,Selecting & accessing collections od data.Choosing the right data structure help us run the program smoothly and efficiency

2) Explain the difference between mutable and immutable data types with examples?

-> Mutable Data types - This data types allows to edit or change the elements inside the data after they are created. eg:- list,sets.

Immutable data types - This data type doesn't allow us to edit or change the change the element after creating them but we can replace them.eg:- tuples,strings.

3)What are the main differences between lists and tuples in Python?

-> List is mutable in nature,were as Tuples are immutable in nature.We can access list after they are created, but we can't access tuples after theyare created.

4)Describe how dictionaries store data?

-> Dictionaries store data in key and value pairs, we can access data/value throgh the help of keys,Keys are the unique object created in the dictionaries.

5)Why might you use a set instead of a list in Python?

-> Because set gives an unique value which help us to identify the data easily, no duplicate value is stored in sets and also there is no recurring of elements in the sets.

6)What is a string in Python, and how is it different from a list?

-> Characters arrange in an unchangeable order,accepted as writing a sentence,paragraph,piece of material. In list there we can store number of data and it is editabe/changeable in nature where strings are not changeable in nature.

7)How do tuples ensure data integrity in Python?

-> Tuples are immutable in nature so they ensure that there data remains constant and reliable.

8)What is a hash table, and how does it relate to dictionaries in Python?

-> Hash table is a data structure that stores key-value pairs, and Python dictionaries are implemented as hash tables

9)Can lists contain different data types in Python?

-> Yes lists contain different data types in Python,because list is an heterogenus type of data it can store any type of data,value,object,intiger,string etc.

10) Explain why strings are immutable in Python.

-> Python Strings are immutable because they can't change after they are created it prevent form altering the values.

11)What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries offer unique key value pair which has every unique pair as an identifier, on the other hand list don't offer such things, Dictionary we can access the data easily where in list does not.

12)Describe a scenario where using a tuple would be preferable over a list.

-> If we want to create adhaar card or pan card tuple is the best form that because in adhaar we get unique indentification number and it is confidential and no can use or make changes in that, so tuples are immutable in nature can't be edited nor changes this will prevent attackers to edit/make changes in adhaar identification number therefore tuple would be more preferable than list because listis mutable in nature.

13)How do sets handle duplicate values in Python?

-> They will bypass the value and give single and unique value, there be no any type of duplicate value will be provided by the sets.

14)How does the “in” keyword work differently for lists and dictionaries?

-> Lists: in checks if an element is in the list.

Dictionaries: in checks if a key is in the dictionary. Use .values() or .items() for more specific checks.

15)Can you modify the elements of a tuple? Explain why or why not.

-> No, we cannot modify the elements in Tuples because tuple is an immutable type of data structure, where we can't change/modify it but we can replace it through another element.

16)What is a nested dictionary, and give an example of its use case?

-> Nested Dictionary is the dictionary where the another dictionary is created/stored inside in the dictionary form.Nested dictionaries are also a powerful and flexible way to work with multi-level data structures.

nested_dict = {
    "key1": {
        "subkey1": "value1",
        "subkey2": "value2"
    },
    "key2": {
        "subkey3": "value3",
        "subkey4": "value4"
    }
}

17)Describe the time complexity of accessing elements in a dictionary?

-> Dictionaries are very easy to gandle or access which gives us unique pairs of keys and values which can be access smoothly, They are unique pairs with unique indentifiers, this help us get the data as efficiently as fast.

18) In what situations are lists preferred over dictionaries?

-> List are heterogenus type data structure which help us tu store various data whereas dictionary conatins unique key value pair which dont have duplicate or recurring type of elements, and list is also easy to access & mutable in nature to same like sets, list can be modified or editable easily after they are created.

19)Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries considered unordered, because elements are not stored in correct order and Data Retrieval Key-based retrieval remains efficient and unaffected by order.

20)Explain the difference between a list and a dictionary in terms of data retrieval.

->Lists: Use lists when you need ordered collections and want to access elements by their position.

Dictionaries: Use dictionaries when you need a mapping between keys and values, and efficient key-based lookups are essential.

# Practical Questions

1) Write a code to create a string with your name and print it

In [2]:
Name = input("Enter your name: ")

Enter your name: Amin

2) Write a code to find the length of the string "Hello World"?

In [3]:
A = "Hello World"

In [4]:
A

'Hello World'

In [5]:
len(A)

11

3) Write a code to slice the first 3 characters from the string "Python Programming"?

In [10]:
A = "Python Programming"

In [11]:
A

'Python Programming'

In [12]:
A[0:3]

'Pyt'

4) Write a code to convert the string "hello" to uppercase?

In [13]:
A = "hello"

In [14]:
A

'hello'

In [15]:
A.upper()

'HELLO'

5)  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [16]:
A = "I like apple"

In [17]:
A

'I like apple'

In [19]:
A.replace("apple","orange")

'I like orange'

6) Write a code to create a list with numbers 1 to 5 and print it?

In [21]:
List = [1,2,3,4,5]

In [22]:
List

[1, 2, 3, 4, 5]

In [23]:
#range form
num = list(range(1,6))

In [24]:
num

[1, 2, 3, 4, 5]

7)Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [25]:
num = [1,2,3,4]

In [26]:
num

[1, 2, 3, 4]

In [27]:
num.append(10)

In [28]:
num

[1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [29]:
Num = [1,2,3,4,5]

In [30]:
Num

[1, 2, 3, 4, 5]

In [31]:
Num.remove(3)

In [32]:
Num

[1, 2, 4, 5]

9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [33]:
List = ["a","b","c","d"]

In [34]:
List

['a', 'b', 'c', 'd']

In [37]:
List[1]

'b'

10)Write a code to reverse the list [10, 20, 30, 40, 50].

In [38]:
Num = [10,20,30,40,50]

In [39]:
Num

[10, 20, 30, 40, 50]

In [40]:
Num.reverse()

In [41]:
Num

[50, 40, 30, 20, 10]

11)  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [42]:
A = (10,20,30)

In [43]:
A

(10, 20, 30)

12)  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [44]:
Fruits = ("apple","banana","cherry")

In [46]:
Fruits[0]

'apple'

13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [47]:
NUM = (1,2,3,2,4,2)

In [48]:
NUM

(1, 2, 3, 2, 4, 2)

In [49]:
NUM.count(2)

3

14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [50]:
Animals = ("dog","cat","rabbit")

In [51]:
Animals

('dog', 'cat', 'rabbit')

In [52]:
Animals.index("cat")

1

15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [53]:
Fruits = ("apple","orange","banana")
Fruits

('apple', 'orange', 'banana')

In [54]:
"banana" in Fruits

True

16)Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [55]:
num = {1,2,3,4,5}

In [56]:
num

{1, 2, 3, 4, 5}

17)Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [57]:
num = {1,2,3,4}

In [58]:
num.add(6)

In [59]:
num

{1, 2, 3, 4, 6}

18) Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [60]:
Tuple = (10,20,30)

In [61]:
Tuple

(10, 20, 30)

19)Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [62]:
fruits = ("apple","banana","cherry")

In [63]:
fruits[0]

'apple'

20)Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [64]:
num = (1,2,3,2,4,2)

In [65]:
num.count(2)

3

21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [67]:
animals = ("dog","cat","rabbit")

In [68]:
animals.index("cat")

1

22)Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [69]:
Fruits = ("apple","orange","banana")

In [70]:
"banana" in Fruits

True

23)Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [71]:
Set = {1,2,3,4,5}

In [72]:
Set

{1, 2, 3, 4, 5}

24)Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [73]:
num = {1,2,3,4}

In [74]:
num.add(6)

In [75]:
num

{1, 2, 3, 4, 6}